

#search {
	border: 1px solid;
    border-right: none;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-color: #ced4da;
    padding: 7px 10px 7px 10px;
    font-size: 15px;
}

#search:focus {
	box-shadow: none;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 46%;
    height: 100%;
    position: relative;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#map {
    height: 375px;       
   	width: 100%;
}

/* .map-responsive, .gm-inset {
    display: none !important;
} */

#pills-Drivers-tab {
	border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 25px;
}

#pills-Tasks-tab {
	border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}


#bottom-content {
	position: inherit;
    top: 375px;
    background-color: #fff;
    height: 250px;
    width: 100%;
    right: 0px;
    
}


#avatar	{
    float: left;
    width: 30px;
    margin-right: 20px;
}
 .bottom-content>.card {
    min-width: 240px;
}

.header-buttoms>.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #1dbdfa;
    border-color: transparent;
}

